@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
:root {
    /* --color-primary: #FF8400; */
    --color-primary: #713FDB;
}

html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    text-align: center;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.text-primary {
    color: var(--color-primary) !important;
}